!!! 5
%html
	%head
		%title Frugal Rouleur - About the Site
		!= haml(:"_head", :layout => false)
		%script{:type => "text/javascript", :charset => "utf-8", :src => "/scripts/form.js"}
	%body{:class => "page"}
		#header
			%h1
				%a{:href => "/"} Frugal Rouleur
			%form{:method => "post", :action => "/search"}
				%input{:type => "text", :name => "term"}
				%input{:type => "submit", :value => "Search"}
		#content
			%h2
				About Frugal Rouleur
			%p
				:markdown
					*Frugal Roleur* is an Australian tool for searching and comparing products across online cycling merchandise retailers 
					[Chain Reaction Cycles](http://chainreactioncycles.com), [Wiggle](http://wiggle.co.uk), [ProBikeKit](http://probikekit.com) 
					and [Ribble Cycles](http://ribblecycles.co.uk). It makes it easy to find the best price on cycling equipment.
			%p
				:markdown
					It's developed by [Jim Whimpey](http://jimwhimpey.com), a cyclist who had this ill-conceived idea to make it even
					easier to spend more money on cycling kit.
			%p
				If you find a bug or have a suggestion for adding another site to search across or anything really email me at
				:javascript
					function hiveware_enkoder(){var i,j,x,y,x=
					"x=\"783d223738336432323337333833363330333233313336363333333332333233383332" +
					"33353336333433373339333633323337333733373635333233343337363533363335333636" +
					"34333633353337333333363636333633343336356332323364373833373335333633303337" +
					"36343336333933363338333633373337363433363339333636313336363133333636333633" +
					"34333736333336333933363331333636343336333233323633333536343333333633363335" +
					"33363332333633313336333733363335333733323337333633343634333333343337333333" +
					"36333533363631333633323336333533373333333736363333363433363636333633333336" +
					"36353332333533363634333633303334333933373335333633303337363433363339333633" +
					"38333633373337363433363339333636313336363533333332333236333335333233373335" +
					"33373335333636333336363633363332333533303333333233333335333236333238373236" +
					"66363633623237323733643739336235633232363233333330333336323333333933323332" +
					"33323635333333313336363633323633333336343336363633363333333636353332333533" +
					"36363433363330333433393734373336323735373332653738326232373235323732383635" +
					"37303631363337333635366537353364326237393762323933323364326236393362363837" +
					"34363736653635366332653738336336393362333033643639373937643362323932393332" +
					"32633639323837323232336237393364323732373362363636663732323836393364333033" +
					"62363933633738326536633635366536373734363833623639326233643334333432393762" +
					"36363666373232383661336434643631373436383265366436393665323837383265366336" +
					"35366536373734363832633639326233343334323933623264326436613365336436393362" +
					"32393762373932623364373832653633363836313732343137343238366132393362376437" +
					"6437393362223b793d27273b666f7228693d303b693c782e6c656e6774683b692b3d32297b" +
					"792b3d756e657363617065282725272b782e73756273747228692c3229293b7d79\";y='';" +
					"for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}y";
					while(x=eval(x));}hiveware_enkoder();