!!! 5
%html
	%head
		%title Frugal Rouleur
		!= haml(:"_head", :layout => false)
	%body
		#home
			%h1
				%a{:href => "/"} Frugal Rouleur
			%form{:method => "post", :action => "/search"}
				%input{:type => "text", :name => "term"}
				%input{:type => "submit"}
				