!!! 5
%html
	%head
		%title Frugal Rouleur
		!= haml(:"_head", :layout => false)
		%script{:type => "text/javascript", :charset => "utf-8", :src => "/scripts/form.js"}
	%body{:class => "home"}
		%h1
			%a{:href => "/"} Frugal Rouleur
		%form{:method => "post", :action => "/search"}
			%input{:type => "text", :name => "term"}
			%input{:type => "submit", :value => "Search"}
		#explanation
			:markdown
				*Frugal Roleur* is an Australian tool for searching and comparing products across online cycling merchandise retailers 
				[Chain Reaction Cycles](http://chainreactioncycles.com), [Wiggle](http://wiggle.co.uk), [ProBikeKit](http://probikekit.com) 
				and [Ribble Cycles](http://ribblecycles.co.uk). Learn more [about the site](/about).